body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.body_container {
    background-color: rgb(147, 50, 237);
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 45vw;
    height: 70vh;
    padding: 4vh;
    background-color: rgb(164, 213, 255);
    border: 1px solid black;
    box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 20%);
    display: grid;
    gap: 4vh;
}

.input {
    background-color: #ffffff;
    width: 45vw;
    height: 13vh;
    font-size: 80px;
    overflow: scroll;
}
.input:hover {
    box-shadow: 0px 1px 4px 0px rgb(0, 0, 0);
}
.buttons {
    background-color: #ffffff;
    height: 50vh;
    bottom: 20vh;
    width: 45vw;
    display: flex;
    justify-content: center;
}

.operators div {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #bbb;
    border-radius: 1px;
    width: 8vw;
    height: 7vh;
    text-align: center;
    padding: 1vw;
    margin: 0px 0px 10px 0;
    cursor: pointer;
    background-color: #ddd;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
    font-size: 40px;
}
.leftPanel div {
    display: inline-flex;
}
.numbers div {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #bbb;
    border-radius: 1px;
    width: 8vw;
    height: 7vh;
    text-align: center;
    padding: 1vw;
    margin: 0px 0px 10px 0;
    cursor: pointer;
    background-color: #ffffff;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
    font-size: 40px;
}
div.equal {
    display: inline-block;
    border: 1px solid #3079ED;
    border-radius: 1px;
    width: 4vw;
    text-align: center;
    padding: 127px 10px;
    cursor: pointer;
    color: #FFF;
    background-color: #4d90fe;
    transition: all .2s ease-in-out;
}
div.equal:hover {
    background-color: #307CF9;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #1857BB;
  }
  
  div.equal:active {
    font-weight: bold;
  }
  .numbers div:hover {
    background-color: #959595;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #bbb;
    color: #ffffff;
  }
  
  .numbers div:active {
    font-weight: bold;
  }
  .operators div:hover {
    background-color: #ddd;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #aaa;
  }
  
  .operators div:active {
    font-weight: bold;
  }